

<div class="main-container">
    <h1 class="heading">Markdown Generator</h1>
    <form class="upload-form" (submit)="onSubmit($event)">
        <div class="upload-form-group">
            <label class="upload-input-label" for="file-upload">choose</label>
            <input class="upload-input" type="file" id="file-upload" (change)="onFileSelected($event)" multiple>
        <div class="button-wrapper">
            <button class="upload-form-button" type="submit" [disabled]="!selectedFiles.length">Upload</button>
        </div>
        </div>
        <div *ngIf="this.displayMessage"  class="response-message-container">
            <p *ngIf="this.uploadStatus == true" class="response-message-success">{{this.responseMessage}}</p>
            <p *ngIf="this.uploadStatus == false" class="response-message-failure">{{this.responseMessage}}</p>
        </div>
    </form>



    <!-- Quiz Section  -->
    <app-quiz-box [questions]="quizzQuestions">
    </app-quiz-box>
</div>
  
<router-outlet />