

<div class="main-container">

    <div class="nav">
        <h1 class="heading">Study Buddy</h1>
        <div class="menue">

            <div (click)="showOptions()" class="menu-icon-wrapper">
                <i class="fa-solid fa-gear"></i>
            </div>
        </div>
    </div>


    <div class="options-wrapper">
        <div *ngIf="this.options" class="options">
            <span>enable...</span>
            <div class="options-formelement">
                <label for="">Quizquestions</label>
                <input (click)="showQuiz()" type="checkbox" name="" id="">
            </div>
            <div class="options-formelement">
                <label for="">Markdowneditor</label>
                <input (click)="showMarkdownEditor()" type="checkbox" name="" id="">
            </div>
        </div>
    </div>




    <form class="upload-form" (submit)="onSubmit($event)">
        <div class="upload-form-group">
            <label class="upload-input-label" for="file-upload">choose</label>
            <input class="upload-input" type="file" id="file-upload" (change)="onFileSelected($event)" multiple>
            <div class="button-wrapper" *ngIf="!showSpinner">
                <button class="upload-form-button" type="submit" [disabled]="!selectedFiles.length">
                    <i class="fa-solid fa-upload"></i>
                </button>
            </div>
            
        <div class="spinner-overlay" *ngIf="this.showSpinner">
            <div class="spinner"></div>
          </div>
        </div>
        <div *ngIf="this.displayMessage"  class="response-message-container">
            <p *ngIf="this.uploadStatus == true" class="response-message-success">{{this.responseMessage}}</p>
            <p *ngIf="this.uploadStatus == false" class="response-message-failure">{{this.responseMessage}}</p>
        </div>
    </form>
    <app-quiz-box *ngIf="showQuizQuestions" [questions]="quizzQuestions">
    </app-quiz-box>
    <div *ngIf="uploadStatus">
        <textarea *ngIf="showMarkdown" class="generated-text" [(ngModel)]="editableMarkdown" rows="10" cols="80"></textarea>
        
    </div>
      
    <div class="download-button-wrapper">
        <button class="download-button" (click)="downloadEditedMarkdown()">Speichern & Download</button>
    </div>
</div>
  
<router-outlet />